/* Style for the header and navbar */
header {
  width: 100%;
  background-color: #fff; /* Optional: Sets a background color for the navbar */
  z-index: 1000; /* Optional: Ensures it stays on top of other content */
  display: flex;
  align-items: center;
  padding: 20px 20px; 
  height: 220px; /* Set specific height for the navbar */
  position: relative; /* Change from fixed to relative */
}

/* Style for the logo */
.logo {
  margin-right: 280px; /* Space between logo and nav */
  height: 100%; /* Logo height fills 75% of the header's height */
  object-fit: contain; /* Ensures the logo maintains its aspect ratio */
}

/* Remove list styles and display nav items horizontally */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

/* Navbar link styles */
nav ul li a {
  font-size: 18px; /* Match the font size to the search bar */
  font-family: Arial, sans-serif; /* Match the font family to the search bar */
  text-decoration: none; /* Remove underline */
  color: #333; /* Set text color */
  margin-left: 20px; /* Space between links */
}

/* Remove the padding-top from the body as it is no longer needed */
body {
  padding-top: 0;
}


/* Optional: Add some padding to the body to avoid content being hidden under the fixed navbar */
body {
  padding-top: 1px; /* Adjust based on navbar height */
}

/* Style the search bar container */
.search-bar-container {
  display: flex;
  justify-content: center;
  margin-top: 2px;
}

/* Style the search bar */
.search-bar {
  width: 50%; /* Adjust the width as needed */
  padding: 15px; /* Add padding to make it larger */
  font-size: 18px; /* Larger font size for the search text */
  border: 2px solid #333; /* Bold border */
  border-radius: 25px; /* Rounded corners */
  outline: none; /* Remove the default outline */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for a 3D effect */
  font-family: Arial, sans-serif;
}

/* Optional: Add focus effect */
.search-bar:focus {
  border-color: #0078d4; /* Change border color when focused */
  box-shadow: 0 0 5px rgba(0, 120, 212, 0.5); /* Optional: Add a focus shadow */
}


                           /* news ticker */


#news-ticker {
    animation: ticker 20s linear infinite;
    font-size: 14px;
}

#news-ticker a {
    color: #333;
    text-decoration: none;
    margin: 0 5px;
}

#news-ticker a:hover {
    color: #000;
    text-decoration: underline;
}

@keyframes ticker {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}